[Desktop Entry]
Version=1.0
Name=Waterfox
Type=Application
Terminal=false
Icon=/opt/waterfox/browser/chrome/icons/default/default128.png
Exec=/opt/waterfox/waterfox
